.article-preview {
  display: flex;
  height: 300px;
}

.article-preview__content {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 20px 20px 20px;
  background-color: $desert-storm;
}

.article-preview__content span {
  display: block;
  margin-bottom: 13px;
  font-family: "Poppins", "Arial", serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: $zorba;
}

.article-preview h3 {
  margin-top: 0;
  margin-bottom: 38px;
  font-family: "Cormorant Garamond", "Times New Roman", serif;
  font-size: 26px;
  line-height: 34px;
  font-weight: 600;
  text-align: center;
}

.article-preview__image {
  width: 50%;
  overflow: hidden;
}

.article-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: $mobile-width) {
  .article-preview {
    height: auto;
  }

  .article-preview__content {
    width: 100%;
    min-height: 256px;
  }

  .article-preview__image {
    width: 100%;
    height: 256px;
  }
}
