.popup {
  display: none;
  position: fixed;
  z-index: 5;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 430px;
  min-height: 586px;
  padding-top: 138px;
  background-color: $desert-storm;
  background-image: url("../img/popup-bkg@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/popup-bkg@2x.jpg");
  }

  &--open {
    display: block;
  }
}

.page-main--inner .popup {
  position: unset;
  transform: none;
  margin-left: auto;
  margin-right: auto;
}

.popup__close-button {
  position: absolute;
  top: 19px;
  right: 18px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    content: "";
    width: 18px;
    height: 2px;
    background-color: $wood-bark;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      background-color: $dim-gray;
    }
  }

  &:active {
    &::before,
    &::after {
      opacity: 0.6;
    }
  }
}


@media (max-width: $tablet-width) {
  .popup {
    max-width: 442px;
  }

  .popup__close-button {
    width: 25px;
    height: 24px;
    top: 17px;

    &::before,
    &::after {
      width: 25px;
      height: 3px;
    }
  }
}

@media (max-width: $mobile-width) {
  .popup {
    max-width: 270px;
    min-height: 470px;
    padding-top: 84px;
  }

  .popup__close-button {
    top: 13px;
    right: 13px;
    width: 18px;
    height: 18px;
    padding: 0;

    &::before,
    &::after {
      width: 18px;
      height: 2px;
    }
  }
}
