.product {
  width: 100%;
  height: 100%;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.8;
  }
}

.product__img {
  width: 100%;
  height: 100%;
  margin-bottom: 14px;
  overflow: hidden;
}

.product__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 136px;
}

.product__title {
  margin-top: 0;
  margin-bottom: 6px;
  font-family: "Poppins", "Arial", serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  text-align: center;
  color: $wood-bark;
}

.product__price {
  display: block;
  font-family: "Poppins", "Arial", serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: $wood-bark;
}


@media (max-width: $tablet-width) {
  .product__img {
    margin-bottom: 22px;
    height: calc((100vw - 90px - 30px) / 100 * 104.94 / 2);
  }
}

@media (max-width: $mobile-width) {
  .product__img {
    margin-bottom: 9px;
    height: initial;
  }

  a.product {
    margin-bottom: -9px;
  }
}
