$desktop-width: 1366px;
$tablet-width: 1023px;
$mobile-width: 767px;

$white: #ffffff;
$whisper: #e5e5e5;
$very-dark-brown-07: rgba(86, 64, 52, 0.7);
$medium-wood: #a87b62;
$wood-bark: #1d1613;
$black: #000000;
$desert-storm: #f0eae4;
$zorba: #9b9997;

$white-01: rgba(255, 255, 255, 0.1);
$tangaroa: #1b2d37;
$dim-gray: #666666;
$deep-sky-blue: #00b2ff;
$summer-sky: #4db7e5;
$light-grey: #cdcdcd;
$finlandia: rgba(98, 105, 98, 0.2);
$silver: #c4c4c4;
$whisper: #ebebeb;
